---
import ToogleDarkMode from "./ToogleDarkMode.astro";
import type {IMenu} from "../../interfaces/interface";

const {url} = Astro.request;
const pathname = new URL(url).pathname;
interface Props {
    menu: IMenu[];
}
const {menu} = Astro.props
---
<div class="hidden lg:flex items-center gap-6">
    <nav class="flex gap-x-4 items-center rounded-full px-4 py-2  ">
        {menu.map((men: IMenu, index: number) =>
                <a
                        class={`flex gap-2 items-center text-[1.1rem] ${pathname === men.link ? 'bg-custom_gradient text-white' : 'bg-white dark:bg-slate-500 dark:text-white'}  hover:bg-custom_gradient text-sm border border-baseColor-400 hover:text-white text-black/70 uppercase font-semibold rounded-md  transition py-3 px-4 active:bg-baseColor-800`}
                        href={men.link} rel="noreferrer">
                    <men.icon class="size-6"/>
                    {men.title}
                </a>
        )}
    </nav>
    <ToogleDarkMode/>
</div>

